
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça a trajetória de José Baptista: desenvolvedor web full stack com foco em python, flask APIs e soluções web robustas">
    <meta name="robots" content="index, follow">
    <meta name="author" content="José Baptista">
    <title>Sobre mim | José Baptista</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMT6HMNHMH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SMT6HMNHMH');
    </script>
    
    <meta property="og:description" content="Desenvolvidor apaixonado por tecnologia, com experiência em back-end e front-end e soluções modernas">
    <meta property="og:title" content="Sobre mim | José Baptista">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://2Ntechnology.com">
    <meta property="og:image" content="https://2Ntechnology.com/static/images/jose.webp">

      <script type="application/Id+json">
        {  
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "José Baptista",
        "url": "https://2nztechnology.com/about",
        "sameAs": [
        "https://www.linkedin.com/in/josenzinga",
        "https://www.github.com/professorbaptista",
        ],
        "jobTitle": "desenvolvedor web",
        "workFor": {
            "@type": "Organization",
            "name": "freeLancer"
        },

        "description": "Sou um desenvolvidor full stack, especializado em python, flask, node.js, javascript e projectos moderno."
    }
      </script>
</head>
<body>
    {% extends 'template.html' %}
{% block content %}

    <!-- Titulo principal -->
    <main>

        <!-- <section class="fade-in">
            <h2>Bem-vindo à 2NZ Technology</h2>
            <p>Somos especialistas em soluções web, mobile e IA</p>
        </section> -->

        <div class="main-title">
            <h2 class="title-about">Sobre <span>mim </span><span class="big-text">Minha Estatística</span></h2>
        </div>

       <!-- Lado esquerdo da pagina sobre. Informaçoes pessoais -->
       <section>
            <div class="about-container">
                <div class="left-about">
                    <h4>Informações sobre mim</h4>
                    <p>Olá, eu sou o José Baptista, professor, Psicólogo e desenvolvidor web.</p>
                    <p>Minha caminhada no mundo de tecnologias começou e 2020, quando assistia uma série que gosto muito, o Havai força especial, e via alguns autores hachers fazerem coisas maravilhosas, no princício a ideia era, isto é coisa dos filmes, é montagem. Mas um dia, como diz o ditado, a curiosidade matou o gato, pesquisar na internet como ser hacker. porém desta vez a curiosidade não matou o gata, mas inspirou o gato. A resposta encontrada na minha pesquisa, foi, primeiro tem que aprender a programação.</p>
                    <p>Desde aí comecei uma aventura nunca imaginada por por mim e descobri que para tal tinha que aprender linguages de programação, como html, css e javascript, python etc. Foi aí que comecei uma jornada imparável até se tornar um desenvolvidor web.</p>
                    <div class="btn-con">
                        <a href="{{ url_for('static', filename='livros/Meu web2 curriculum.pdf')}}" download="Meu web curriculum.pdf" type="aplication/pdf" class="main-btn">
                            <span class="btn-text">Download my CV</span>
                            <img class="btn-icon" src="{{ url_for('static', filename='images/search.png') }}" alt="Botão">
                        </a>
                    </div>
                </div>
    
                <!-- Lado direito da pagina sobre. trabalhos feitos  -->
                <div class="right-about">
                    <!-- Primeiro card -->
                    <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">40 + </p>
                                <p class="small-text">
                                Projectos <br>Completados</p>
                            </div>
                    </div>
                    <!-- segundo card -->
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">2 + </p>
                            <p class="small-text">
                            anos de <br>Experiencia</p>
                        </div>
                    </div>

                    <!-- Terceiro card -->
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">90 + </p>
                            <p class="small-text">
                            clientes <br>satisfeitos</p>
                        </div>
                    </div>

                    <!-- Quarto card -->
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">70 + </p>
                            <p class="small-text">
                            clientes <br></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Estatisticas -->

            <div class="about-stats">
                  <!-- Minhas habilidades -->
                  <h4 class="stats-title">Minhas habilidades</h4>
               <!-- primeira div -->
                <div class="progress-bars">
                
                <!-- Card para habilidades html depois copiar o card para outras habilidades -->
                    <div class="progress-bar">
                        <p class="prog-title">Html5</p>
                        <div class="progress-con">
                            <p class="progress-text">92%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">css</p>
                        <div class="progress-con">
                            <p class="progress-text">96%</p>
                            <div class="progress">
                                <span class="css"></span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">javascript</p>
                        <div class="progress-con">
                            <p class="progress-text">98%</p>
                            <div class="progress">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">react</p>
                        <div class="progress-con">
                            <p class="progress-text">75%</p>
                            <div class="progress">
                                <span class="react"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Node.js</p>
                        <div class="progress-con">
                            <p class="progress-text">80%</p>
                            <div class="progress">
                                <span class="node"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">python</p>
                        <div class="progress-con">
                            <p class="progress-text">80%</p>
                            <div class="progress">
                                <span class="python"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">flask</p>
                        <div class="progress-con">
                            <p class="progress-text">75%</p>
                            <div class="progress">
                                <span class="flask"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">github</p>
                        <div class="progress-con">
                            <p class="progress-text">68%</p>
                            <div class="progress">
                                <span class="github"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <h4 class="stats-title">Minha linha de tempo</h4>
                 <!-- segunda div -->
                <div class="timeline">
                  <!-- Minha linha de tempo/Timeline -->
                    <div class="timeline-item">
                        <div class="timeline-icon" onmouseover="mudar()">
                            <img class="btn-icon" src="{{ url_for('static', filename='images/briefcase.png') }}" alt="pasta">
                        </div>
                        <p onmouseover="mudar ()"
                        
                        class="timeline-duration" id="mudar" >DE 2020 - 2022</p>
                    <h4 class="developer">Desenvolvidor web <span>front-end</span></h4>
                    <span></span>
                    <p class="front-end">Foi um período de intensa aprendizagem e prática em diferentes linguagens, como Html:5, Css3, Javascript e Python. Foi um período dificil, porém de muita persistência, como se diz o cavalo que corre com gosto não se cansa, que consegui atingir o objectivo. Foi aí que comecei a trabalhar na empresa 2N Tecnology, primeiro como estagiário, depois passei a efetivo.</p>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <img class="btn-icon" src="{{ url_for('static', filename='images/briefcase.png') }}" alt="pasta">
                        </div>
                        <p onmouseover="mudarTexto()"  class="timeline-duration" id="timeline-duration">DE 2022 - Presente</p>
                    <h4 class="developer">Desenvolvidor web <span>Full-stack</span></h4>
                    <span></span>
                    <p class="front-end">
                        Deste tempo para cá tem sido de crescimento exponêncial, tecnica e profissionalmente, o back-end trouxe um valor acrescido para a minha nova e aventureira carreira de engenheiro de softs. 
                    </p>
                    <p class="front-end">Neste período desenvolvi muitos trabalhos profissionais que aumentou, ainda mais as minhas capacidades e competencias em tecnologias</p>
                    </div>
                </div>
            </div>
        </section>
        </main>

{% endblock %}
</body>
</html>
