
{% extends 'template.html' %}
{% block content %}

<section>
   <div class="blog-content">
      <div class="main-title">
         <h2>Blogues <span class="big-text">Meus Blogues</span></h2>
      </div>
      <div class="blogs">
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
         <div class="blog">
            <img src="{{ url_for('static', filename='images/portF.webp') }}" alt="">
            <div class="blog-text">
               <h4>Como criar um website</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, unde id expedita quo eveniet cumque voluptates enim in.</p>
            </div>
         </div>
      </div>
</section>

{% endblock %}