
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Entre em contacto com José Baptista. Solicite orçamento, tire duvidas ou marque uma conversa sobre o seu projecto.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="José Baptista">
    <meta name="author" content="José Baptista">
    <title>Blogue | José Baptista</title>
     <meta property="og:title" content="Blogue | José Baptista">
    <meta property="og:description" content="Conteúdos técnico de qualidade para quem quer aprender programação e desenvolvimento web.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://2Ntechnology.com">
    <meta property="og:image" content="https://2Ntechnology.com/static/images/contacts.png">

    <script type="application/Id+json">
      {
         "@context": "https://schema.org",
         "@type": "ContactPage",
         "neme": "Fale comigo",
         "url": "https://2Ntechnology.com/contacts",
         "mainEntity": {
            "@type": "Organization",
            "name": "2N Technology",
            "email": "contact@2Ntechnology.com",
            "url": "https://2Ntechnology.com"
         }
      }
    </script>
</head>
<body>
   {% extends 'template.html' %}
{% block content %}

<section>
   <div class="contact-container">
      <div class="main-title">
         <h2 class="contact-title">Contacta - <span class="span-post">Me</span><span class="big-text">Meus Contactos</span></h2>
      </div>

      <div class="contact-contact-con">
         <div class="left-contact">
            <h4 class="contact-me">Contacta-<span class="contact-text">me</span> aqui</h4>
            <p class="text-contact">Para mais informações sobre os meus trabalhos não exite em falar comigo. Entre em contacto agora mesmo e recomende o seu trabalho.</p>
            <p class="text-contact">Trabalho de confiança, eficiente e com rapidez requerida.</p>
            <div class="contact-info">
               <div class="contact-item">
                  <div class="icon">
                     <img src="{{ url_for('static', filename='images/localition2.jpg') }}" alt="">
                     <span>Localização:</span>
                  </div>
                  <p>Luanda, Angola</p>
               </div>
               <div class="contact-item">
                  <div class="icon">
                     <img src="{{ url_for('static', filename='images/email_1.webp') }}" alt="">
                     <span>Email:</span>
                  </div>
                  <p><span>josenzinga6@gmail.com</span></p>
               </div>
               <div class="contact-item">
                  <div class="icon">
                     <img src="{{ url_for('static', filename='images/education_2.webp') }}" alt="">
                     <span>Educação:</span>
                  </div>
                  <p>Ûdemy, freeCodeCamp</p>
               </div>
               <div class="contact-item">
                  <div class="icon">
                     <img src="{{ url_for('static', filename='images/phone.png') }}" alt="">
                     <span>Telefone:</span>
                  </div>
                  <p>+244951795214 | 925049871</p>
               </div>
               <div class="contact-item">
                  <div class="icon">
                     <img src="{{ url_for('static', filename='images/language_1.webp') }}" alt="">
                     <span>Línguas faladas:</span>
                  </div>
                  <p>Português, Inglês, Francês</p>
               </div>
            </div>
            <div class="contact-icons">
               <div class="contact-icon">
                  <a href="https://www.facebook.com/josenzinga.baptista" target="_blank">
                     <img src="{{ url_for('static', filename='images/facebook_1.webp') }}" alt="">
                  </a>
                  <a href="https://www.github.com/professorbaptista" target="_blank">
                     <img src="{{ url_for('static', filename='images/github_1.webp') }}" alt="">
                  </a>
                  <a href="https://www.whatsapp.com/josenzingabaptista">
                     <img src="{{ url_for('static', filename='images/whatsap_2a.webp') }}" alt="">
                  </a>
               </div>
            </div>
         </div>

         <div class="right-contact">
            <form action="/enviar-contacto" method="post" class="form-contact">
               <p>Solicite o seu orçamento </p>
               <div class="input-control input-one">

                  <input type="hidden" name="data" id="data" value="{{ data }}">
                 
                     <input id="input-zone" type="text" name="name" placeholder="Digite o seu nome..." required>
                     <input  id="input-zone" type="email" name="email" placeholder="Digite o seu email..." required>
             
                  </div>
                  <div class="input-control">
                    
                        <input id="input-zone" type="text" name="message" placeholder="Descreve aqui o seu pedido..." required>
                   
                  </div>
                  <div class="input-control">
                           <textarea placeholder="Deixe uma mensagem" class="input-textarea">
                           </textarea>  
                     <!-- </div> -->
                        <div class="btn-submit">
                           <input type="submit" value="Enviar">
                        </div><br>
                        <div class="btn-con">
                           <a href="{{ url_for('download_cv')}}" class="main-btn">
                               <span class="btn-text">Baixar o meu CV</span>
                               <img class="btn-icon" src="{{ url_for('static', filename='images/search.png') }}" alt="Botão">
                           </a>
                       </div>
                           <div class="depoimentos">
                              <span>Satisfeito com o que viu? <a class="depoimento" href="{{ url_for('depoimentos' )}}">Deixe o seu depoimento</a></span>
                              
                           </div>
                     </div>
                  </div>
               </div>
         </div>
        
            </form>
          
      </div>
   </div>
</section>

{% endblock %}
</body>
</html>
