
<!DOCTYPE html>
<html>
<head>
    <title>Contactos Recebidos</title>
</head>
<body>
    {% extends 'template.html' %}
    {% block content %}
    <div class="contact-containe">
        <h1>Lista de Contactos</h1>
        <ul>
            {% for name, email, message, data in contactos %}
                <div class="contact-card">
                    <li>
                        <strong>Nome:</strong> {{ name }} <br>
                        <strong>Email:</strong> {{ email }} <br>
                        <strong>Mensagem:</strong> {{ message }} <br>
                        <strong>Data:</strong> {{  data if data else 'Sem data'  }}
                    </li>
                </div>
                <hr>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
