<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/depoimento.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/depoimentoDeixado.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos_recebidos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


  </head>
<body class="main-content">
    <header >
        <div class="logo-container">
               
            <h1 class="logo">
            <a href="{{ url_for('home') }}">2NZ</a><span>Tech</span>
                </h1>
        </div>
    </header>

    <div>

    <div class="navbar">
        <nav class="dropdown">
            <div class="dropbtn">
                <img src="{{ url_for( 'static', filename='images/icon-menu.png' ) }}" alt="Menu">
                <span class="navbar-menu">Menu</span>
            </div>
            <div class="dropdown-content">
        
                <a href="{{ url_for('home') }}" class="active">Home</a>
        
                <a href="{{ url_for('about') }}">Sobre</a>
        
                <a href="{{ url_for('portfolio') }}">Portfolio</a>
        
                <a href="{{ url_for('blog') }}">Blogue</a>
        
                <a href="{{ url_for('depoimentoDeixado') }}">Depoimentos</a>
        
                <a href="{{ url_for('contacts') }}">Contactos</a>
        
                {% if session.get('autenticado') %}
                <a href="{{ url_for( 'admin' )}}">Admin</a>
                <a href="{{ url_for('logout') }}">Sair</a>
                <a href="{{ url_for('contactos_recebidos') }}">Contactos</a>
                 {% else %}
                <a href="{{ url_for('login') }}"></a>
                {% endif %}
        
            </div>
        </nav>
    </div>

             {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color: green;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

    <footer>
        <p>2N <span class="span">tech </span>&copy; todos direitos reservados</p>
    </footer>
    
    {% block content %}

    {% endblock %}

    <script src="{{ url_for('static', filename='scripts/script.js') }}">

    </script>
</body>

</html>