<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2NZ tecchnology | Tecnologia para todos</title>
    <meta name="description" content="Site de tecnlogia com conteúdos, dicas, soluções e novidades para todos">
    <meta name="keywords" content="tecnologia, informática, softwares, dicas, novidades, técnico">
    <meta name="author" content="José Baptista">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMT6HMNHMH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SMT6HMNHMH');
    </script>

    <meta name="google-site-verification" content="X-bHwiVdQulg1k32iJ148Zj2lgv7TJt8_LWvp-LHfgA" />

    <!-- open graph para facebook -->
     <meta property="og:title" content="site de técnologia | soluções para todos">
     <meta property="og:description" content="Plataforma com dicas, conteúdos e soluções para técnologias">
     <meta property="og:image" content="">
     <meta proterty="og:url" content="https://twonz-technology.onrender.com">
     <meta property="type" content="website">

     <!-- Twetter cards -->
      <meta name="twetter:card" content="">
      <meta name="twetter:title" content="Site de tecnologia">
      <meta name="twetter:description" content="Soluções e conteúdos do mundo de tecnologia">
      <!-- links de css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/depoimento.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/depoimentoDeixado.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos_recebidos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/animacoes.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/novo_post.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_post.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_post.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/introducao_html.css') }}">

  </head>
<body class="main-content">
    <header >
        <div class="logo-container">
               
            <h1 class="logo">
            <a href="{{ url_for('home') }}">2NZ</a><span>Tech</span>
                </h1>
        </div>
    </header>

    <div>

    <div class="navbar">
        <nav class="dropdown">
            <div class="dropbtn">
                <img src="{{ url_for( 'static', filename='images/icon-menu.png' ) }}" alt="Menu">
                <span class="navbar-menu">Menu</span>
            </div>
            <div class="dropdown-content">
        
                <a href="{{ url_for('home') }}" class="active">Home</a>
        
                <a href="{{ url_for('about') }}">Sobre</a>
        
                <a href="{{ url_for('portfolio') }}">Serviços</a>
        
                <a href="{{ url_for('blog') }}">Blogue</a>
        
                <a href="{{ url_for('depoimentoDeixado') }}">Depoimentos</a>
        
                <a href="{{ url_for('contacts') }}">Contactos</a>
        
                {% if session.get('autenticado') %}
                <a href="{{ url_for( 'admin' )}}">Admin</a>
                <a href="{{ url_for('logout') }}">Sair</a>
                <a href="{{ url_for('contactos_recebidos') }}">Contactos</a>
                 {% else %}
                <a href="{{ url_for('login') }}"></a>
                {% endif %}
        
            </div>
        </nav>
    </div>

             {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color: green;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

    <footer>
        <p>2NZ<span class="span">tech </span>&copy; todos direitos reservados</p>
        <div class="social-redes">
            <a href="https://www.facebook.com/josenzinga.baptista"  target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/facebook_1.webp')}}" alt="Facebook">
            </a>
            <a href="https://www.whatsapp.com/josenzingabaptista" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/whatsap_2a.webp')}}" alt="">
            </a>
            <a href="https://www.instagram.com/josenzingabaptista" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/instagram.jpg')}}" alt="Instagram">
            </a>

            <a href="https://www.github.com/professorbaptista" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/github_1.webp') }}" alt="">
            </a>

            <a href="https://www.linkedin.com/in/josenzingabaptista" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='images/linkein.png') }}" alt="">
            </a>
        </div>
    </footer>
    
    {% block content %}

    {% endblock %}

<script src="{{ url_for('static', filename='scripts/script.js') }}">
    // Animações com fade in.
//     document.addEventListener('DOMContentLoaded', function () {
//   const faders = document.querySelectorAll('.fade-in');

//   const observer = new IntersectionObserver(function(entries, observer) {
//     entries.forEach(entry => {
//       if (!entry.isIntersecting) return;
//       entry.target.classList.add('appear');
//       observer.unobserve(entry.target);
//     });
//   }, {
//     threshold: 0.1,
//     rootMargin: '0px 0px -100px 0px'
//   });

//   faders.forEach(f => observer.observe(f));
// });

</script>
</body>

</html>