
/* Estilização da pagina blogue  */
.main-title h2{
    position: relative;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700px;
    margin: 2rem;
    color: var(--color-grey1);
  }

  .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 990px;
    margin: 0 auto;
    /* gap: 2rem; */
    
    .blog{
      position: relative;
      background-color: var(--color-forth);
      border-radius: 5px;
      box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.1);
      transition: all .4s ease-in-out;
      margin: 0 0 2rem 1.5rem;
      

      &:hover{
        box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.1);
        transform: translateY(-5px);
        img{
          filter: grayscale(0);
          transform: scale(1.1);
        }

      }
    }
    img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      filter: grayscale(100%);
      transition: all .4s ease-in-out;
    }

    .blog-text{
      margin-top: -4px;
      padding: 1.1rem;
      border-top: 8px solid var(--color-secondary);
    }

    .blog-text h4{
      text-align: center;
      font-size: 1.2rem;
      color: var(--color-grey1);
      margin-bottom: .8rem;
      cursor: pointer;
      transition: all .4s ease-in-out;
      &:hover{
        color: var(--color-secondary);
      }
      
    }

    .blog-text p{
      line-height: 1.6rem;
      color: var(--color-grey0);
      padding-bottom: 1rem; 
    }
  }

  /*Postagens*/
  .blogue-dinamico{
    border: 2px solid red;
    width: 200px;
    margin: 0 auto;

  }

  /* Posts Container */
  .posts-card{
    width: 100%;
    padding: 40px;
    margin: 0 auto;

    h1{
      text-align: center;
      color: #ffe4c4;
      font-size: 2.6rem;
    }

    h2{
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: #ffe4c4;
    }

    p{
      line-height: 2rem;
      font-size: 1.3rem;
      color: darkgrey;
    }

    .editar-excluir{
      display: flex;
      gap: 100px;
      align-items: center;
      margin: 30px 0;

      a{
        text-decoration: none;
        font-size: 1.3rem;
        padding: 8px 5px;
        color: darkgrey;

        &:hover{
          color: beige;
        }
      }

      form button{
        background-color: transparent;
        color: darkgrey;
        font-size: 1.3rem;

        &:hover{
          color: beige;
        }  

      }
    }
  }

  .card{
    width: 640px;
    margin: 0 auto;
    padding: 20px;
  }

  .ler-mais a{
    color: darkgrey;
    font-size: 1.3rem;
    margin: 10px;
    &:hover{
      color: beige;
    }
  }
 
  @media screen and (max-width: 600px) {

    .blogs{
      grid-template-columns: 1fr;
      gap: .3rem;
      margin-right: 4rem;  
      padding-block: 50px; 
      width: 100%;
    }  

    .main-title{
      margin: 2rem 0 2rem 0;
    }
    
    .main-title .title-about{
      font-size: 1.6rem;

      .blog-text{
        font-size: 1.8rem;
      }
    }

    .blog{
      margin: 1rem 0 1rem 1rem;
      width: 100%;
    }

    /* Área de ediçao */
      .posts-card{
        width: 100%;
        
      }
      h1{
        font-size: 2rem;
      }

      .editar-excluir{
        gap: 0;
        justify-content: space-around;
      }
/* 
    .card{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid red;
  } */

    }


  @media screen and (min-width: 600px) and (max-width: 920px){
    .blogs{
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      margin-right: 3rem;
      padding-block: 5px;
      width: 100%;
    } 
    
      .posts-card{
        width: 100%;

        h2{
          font-size: 3rem;
        }

        p{
          font-size: 2rem;
        }

        .editar-excluir a{
          font-size: 2rem;
        }

        .editar-excluir form button{
          font-size: 2rem;

        }

        .ler-mais a{
          font-size: 2rem;
        }
        
      }

        


  }
   

