

   .main-title{
        
        h2{
            font-size: 2rem;

            .big-text{
            font-size: 3rem;
        }
        }
    }

   

.depoimento-containe{
    width: 870px;
    margin: 0 auto;
    
    h3{
        text-align: center;
        color: #ffe4c4;
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        list-style-type: none;
    }

    .depoimento-card{
        /* list-style-type: none; */
        background-color: #ffe4b9;
        padding: 8px;
        border-radius: 12px;
        width: 250px;
    }

    li{
        color: #444;
    }
}

@media screen and (max-width: 600px) {

    .main-title{
        margin: 0;
        padding-block: 0;
    }

    .main-title .depoimento-text{
        font-size: 1.4rem;

        .big-text{
            font-size: 1.6rem;
        }
    } 
    .depoimento-containe{
        width: 100%;
    }

    h3{
        font-size: 1.4rem;
    }

     ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .depoimento-card{
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 880px) {
    .depoimento-containe{
        width: 100%;
    }

    h3{
        font-size: 1.6rem;
    }

        
     ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
     
       .depoimento-card{
        width: 100%;
        margin: auto;
        border: 4px solid red;
    }

}